<div style="padding: 20px">
  <h1>Animation Angular</h1>
  <button mat-raised-button color="accent" (click)="animerUneFois()">Animer une fois</button>
  <button mat-raised-button color="accent" (click)="animerEnBoucle()">Animer en boucle</button>
  <div [@shake]="shake" class="square" style="background-color: red;"></div>

  <div [@bounce]="bounce" class="square" style="background-color: green;"></div>

  <div [@tada]="tada" class="square" style="background-color: blue;"></div>
</div>
<div style="padding: 20px">
  <h1>Animation CSS</h1>
  <button mat-raised-button color="accent" (click)="tourner()">Faire tourner</button>
  <div [class.rotate-left]="rotate" class="square" style="background-color:orange;"></div>
</div>
